div {
  margin: 10px;
  padding: 20px;
}

.simple {
  box-shadow: 5px 5px 10px #888888;
}

.inset {
  box-shadow: inset 3px 3px 5px #888888;
}

.multiple {
  box-shadow: 3px 3px 5px #888888, -3px -3px 5px #888888;
}

.spread {
  box-shadow: 0 0 10px 5px #888888;
}

.RGBA-transparency {
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
}
